<!DOCTYPE html>
<html lang="en">

    <div class="head"> </div>

    <body>
        <div class="inicioSesion">

            <div class="imagenSifac"> </div>

            <div class="divFormInicioSesion">
                <form id="formInicioSesion" class="formInicioSesion">
                    <div id="campoEmail">
                        <label>Correo electrónico</label>
                        <input class="input" type="email" id="email" name="email" required>
                    </div>

                    <div id="campoContrasena">
                        <label>Contraseña</label>
                        <input class="input" type="password" id="password" name="password" required>
                    </div>

                    <div id="botonIngresar">
                        <input class="submit" type="submit" value="Ingresar">
                    </div>

                    <div class="botonRegistrar">
                        <label id="lblRegistro">¿No tienes una cuenta?</label>
                        <div class="divLink">
                            <a id="btLinkRegistroProveedor" class="link" href="/registroProveedor">Regístrate</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="/js/app.js"> </script>
    </body>

    <div class="footerBaseIndex"> </div>

</html>