<!DOCTYPE html>
<html lang="en">

    <div class="head"> </div>

    <body>
        <div class="headerProv"> </div>

         <div class="containerLista">
            <div id="containerTablaListaFacturas">
                <label class="lblTablaRegistro">Lista de Facturas</label>

                <div class="divTablaRegistro">
                    <table id="tablaListaFacturas" class="tablaRegistro">
                        <tbody id="cuerpo-tabla-facturas">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="footerBase"> </div>

        <script src="/js/facturarApp.js"> </script>
    </body>

</html>