<!DOCTYPE html>
<html lang="en">

    <div class="head"> </div>

    <body class="bodyConHeader">
        <div class="headerBaseMenu"> </div>

        <div id="menuAdmin">

            <div id="menuAdmin1">

                <div id="botonSolicitudesRegistro">
                    <div class="divLinkCircular">
                        <a id="btLinkSolicitudesRegistroProv" href="/solicitudesRegistroProv">
                            <img src="\solicitudesRegistro.jpg" height="175px" width="175px">
                        </a>
                    </div>
                    <label class="lbl">Solicitudes de Registro</label>
                </div>

                <div id="botonGestionarProveedores">
                    <div class="divLinkCircular">
                        <a id="btLinkListaProveedores" href="/listaProveedores">
                            <img id="imgGestionarProveedores" src="\gestionarProveedores.jpg" height="175px" width="175px">
                        </a>
                    </div>
                    <label class="lbl">Gestionar Proveedores</label>
                </div>

            </div>

        </div>

        <div class="footerBase"> </div>

        <script src="/js/app.js"> </script>
    </body>

</html>