<!DOCTYPE html>
<html lang="en">

    <div class="head"> </div>

    <body class="bodyConHeader">
        <div class="headerBaseMenu"> </div>

        <div id="menuProv">

            <div id="menuProv1">
                <div id="botonRegistrarCliente">
                    <div class="divLinkCircular">
                        <a id="btLinkRegistroCliente" href="/registroCliente">
                            <img src="\registrarCliente.png" height="128px" width="128px">
                        </a>
                    </div>
                    <label class="lbl">Registrar Cliente</label>
                </div>

                <div id="botonRegistrarProducto">
                    <div class="divLinkCircular">
                        <a id="btLinkRegistroProducto" href="/registroProducto">
                            <img src="\registrarProducto.png" height="128px" width="128px">
                        </a>
                    </div>
                    <label class="lbl">Registrar Producto</label>
                </div>

                <div id="botonRegistrarServicio">
                    <div class="divLinkCircular">
                        <a id="btLinkRegistroServicio" href="/registroServicio">
                            <img src="\registrarServicio.jpg" height="128px" width="128px">
                        </a>
                    </div>
                    <label class="lbl">Registrar Servicio</label>
                </div>
            </div>

            <div id="menuProv2">
                <div id="botonFacturar">
                    <div class="divLinkCircular">
                        <a id="btLinkFacturar" href="/facturar">
                            <img src="\facturar.png" height="128px" width="128px">
                        </a>
                    </div>
                    <label class="lbl">Facturar</label>
                </div>

                <div id="botonVerFacturas">
                    <div class="divLinkCircular">
                        <a id="btLinkListaFacturas" href="/listaFacturas">
                            <img src="\verFacturas.png" height="128px" width="128px">
                        </a>
                    </div>
                    <label class="lbl">Ver Facturas</label>
                </div>

                <div id="botonPerfil">
                    <div class="divLinkCircular">
                        <a id="btLinkPerfil" href="/perfil">
                            <img src="\perfil.png" height="128px" width="128px">
                        </a>
                    </div>
                    <label class="lbl">Perfil</label>
                </div>
            </div>
        </div>

        <div class="footerBase"> </div>

        <script src="/js/app.js"> </script>
    </body>

</html>