<!DOCTYPE html>
<html lang="en">

    <div class="head"> </div>

    <body>
        <div class="headerProv"> </div>

        <div id="containerRegistroServicio" class="containerRegistro">
            <div class="containerForm">
                <label class="lblFormRegistro">Registrar Servicio</label>

                <div id="divFormRegistroServicio" class="divFormInicioSesion">
                    <form id="formRegistrarServicio" class="formInicioSesion">
                        <div id="campoCodigo">
                            <label>Código</label>
                            <input class="input" type="text" id="codigo" name="codigo" autocomplete="off" required>
                        </div>

                        <div id="campoNombre">
                            <label>Nombre</label>
                            <input class="input" type="text" id="nombre" name="nombre" autocomplete="off" required>
                        </div>

                        <div id="botonRegistrarServicio">
                            <input id="btRegistrarServicio2" class="submit" type="submit" value="Registrar">
                        </div>
                    </form>
                </div>
            </div>

            <div class="containerTablaRegistro">
                <label class="lblTablaRegistro">Servicios</label>

                <div class="divTablaRegistro">
                    <table id="tablaServicios" class="tablaRegistro">
                        <thead>
                            <tr>
                                <th class="thRegistroRoundedLeft trPaddingLeft">Código</th>
                                <th class="thRegistroRoundedRight trPaddingLeft">Nombre</th>
                            </tr>
                        </thead>

                        <tbody id="cuerpo-tabla-servicios">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="popupRegistrarServicio" class="popup">
            <div class="popUpHeader">
                <div class="imgPopUpHeader">
                    <img src="\sifac4.png" height="40px" width="40px">
                </div>

                <button id="closePopupRegistrarServicio" class="closePopUp">
                    &times;
                </button>
            </div>

            <div class="popUpBody">
                <img class="check" src="\check.png" height="50px" width="50px">
                <p>
                    El servicio ha sido registrado correctamente.
                </p>
            </div>
        </div>

        <div id="overlayRegistrarServicio" class="overlay">

        </div>

        <div id="popupErrorRegistrarServicio" class="popupError">
            <div class="popUpHeader">
                <div class="imgPopUpHeader">
                    <img src="\sifac4.png" height="40px" width="40px">
                </div>

                <button id="closePopupErrorRegistrarServicio" class="closePopUp">
                    &times;
                </button>
            </div>

            <div class="popUpBody">
                <img class="check" src="\error.png" height="50px" width="50px">
                <p>
                    Error al registrar el servicio. Por favor intenta de nuevo más tarde.
                </p>
            </div>
        </div>

        <div id="overlayErrorRegistrarServicio" class="overlayError">

        </div>

        <div class="footerBase"> </div>

        <script src="/js/servicioApp.js"> </script>
    </body>

</html>